.brands__box-1 {
    margin-top: calc(32px + (48 - 32) * (100vw - 320px) / (1920 - 320));

    position: relative;
}

.brands__box-11 {
    display: flex;

    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;
}

.brands__box-11::-webkit-scrollbar {
    display: none;
}

.brands__item {
    padding: 1rem;

    display: flex;
    flex-shrink: 0;

    border: 1px solid var(--border-color);

    transition: border .5s ease-in-out;
}

.brands__item:first-of-type {
    border-radius: var(--border-radius_m) 0 0 var(--border-radius_m);
}

.brands__item:last-of-type {
    border-radius: 0 var(--border-radius_m) var(--border-radius_m) 0;
}

.brands__item:hover {
    border: 1px solid #000;
}

.brands__item-icon {
    width: 100%;
    /* height: 5rem; */
    height: calc(48px + (80 - 48) * (100vw - 320px) / (1920 - 320));
}