.filters {
    margin-top: 64px;

    display: flex;
    flex-direction: column;
}

.filters__item {
    margin-bottom: 40px;

    padding-bottom: 20px;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #f2f2f2;

    cursor: pointer;
}

.filters__item.filters__item_active .filters-content {
    display: flex;
}

.filters__item-box-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters__item-title {
    font-weight: 600;

    color: #8e8e8e;
}

.filters-content {
    margin-top: 20px;

    display: none;
    flex-direction: column;
    row-gap: 24px;
}

.filters-content__label {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.filters-content__box-1 {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    column-gap: 10px;
}

.filters-content__input {
    padding: 10px 20px;

    max-width: 128px;

    font-size: 14px;
    font-weight: 500;

    border: 1px solid #d4d4d4;
    border-radius: 8px;
}

.filters-content__input::placeholder {
    color: #d4d4d4;
}
