.filters {
    margin-top: 64px;

    display: flex;
    flex-direction: column;
}

.filters__item {
    margin-bottom: 40px;

    padding-bottom: 20px;

    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #f2f2f2;
}

.filters__item-box-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters__item-title {
    font-weight: 600;

    color: #8e8e8e;
}

.filters-content {
    display: none;
    flex-direction: column;
}
