.gallery__box-1 {
    margin-top: calc(32px + (48 - 32) * (100vw - 320px) / (1920 - 320));

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.gallery__box-12 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery__box-121 {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.gallery__box-122 {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.gallery__item-img {
    width: 100%;
    height: 100%;

    border: 4px solid var(--border-color);
}