.sorting {
    margin-bottom: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sorting__box-1 {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.sorting__box-2 {
    display: flex;
    column-gap: 16px;
}

.sorting__item {
    display: flex;
    align-items: center;
    column-gap: 20px;

    cursor: pointer;
}

.sorting__item span {
    color: #c0c0c0;
}

.sorting__item.sorting__item_active span {
    color: #000;
}
