/* container */

.container {
    padding-right: 24px;
    padding-left: 24px;
}

/* slider */

.slider {
    padding-right: 24px;
    padding-left: 24px;
}

.slider__item-img {
    width: calc(100vw - 24px * 2);
}

/* custom-input */

.custom-input.custom-input_subscribe .custom-input__input {
    min-width: 288px;
}

/* advantages */

.advantages__box-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.advantages__box-1 .advantages__item:first-child {
    border-radius: var(--border-radius_m) 0 0 0;
}

.advantages__box-1 .advantages__item:nth-child(2) {
    border-radius: 0 var(--border-radius_m) 0 0;
}

.advantages__box-1 .advantages__item:last-child {
    border-radius: 0 0 var(--border-radius_m) 0;
}

.advantages__box-1 .advantages__item:nth-last-child(2) {
    border-radius: 0 0 0 var(--border-radius_m);
}

.advantages__item {
    min-height: 6.625rem;
}


.advantages__item:hover {
    border: 1px solid #000;
}

/* popular-categories */

.popular-categories__box-11 {
    min-height: none;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.popular-categories__box-11 .popular-categories__item:first-child {
    border-radius: var(--border-radius_m) 0 0 0;
}

.popular-categories__box-11 .popular-categories__item:nth-child(2) {
    border-radius: 0 var(--border-radius_m) 0 0;
}

.popular-categories__box-12 {
    display: flex;
    flex-direction: column;
}

.popular-categories__box-121 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.popular-categories__box-122 .popular-categories__item:last-child {
    border-radius: 0 0 var(--border-radius_m) 0;
}

.popular-categories__box-122 .popular-categories__item:nth-last-child(2) {
    border-radius: 0 0 0 var(--border-radius_m);
}

.popular-categories__item {
    padding-right: 1rem;
    padding-left: 2rem;

    min-height: 18rem;

    cursor: pointer;
}

.popular-categories__item-img {
    right: 0.75rem;
    bottom: 0.75rem;
}

/* video-blog */

.video-blog__box-2 {
    display: flex;
}

.video-blog__box-21 {
    width: 100%;
}

.video-blog__box-21 iframe {
    width: 100%;
    height: 384px;
}

.video-blog__box-22 {
    display: none;
}

.video-blog__box-4 {
    flex-direction: column;
    row-gap: 1rem;
}

.video-blog__btn {
    min-width: auto;
}

/* map */

.map__building-img {
    display: none;
}

/* subscribe-to-the-newsletter */

.subscribe-to-the-newsletter__inner {
    column-gap: 64px;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.footer__box-1 {
    row-gap: 2rem;
}

.footer .nav__ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.footer-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}